html {
    box-sizing: border-box;
}

*, *::before, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Playfair Display', serif;
    --colour-light: #F3EED9;
    --colour-medium: #824936;
    --colour-dark: #222C2A;
}

body {
    font-family: var(--font-primary);
    font-size: 1.125em;
}

header {
    background-color: var(--colour-light);
    padding: 8em 0;
}

h1, h2 {
    font-family: var(--font-secondary);color: var(--colour-medium);
}

h2 {
    font-size: 2.25rem;
}

h1 {    
    font-size: 3.75rem;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

header p {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .5em;
}

.text-center {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 4em 0;
}

.row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
p {
    line-height: 1.5em;
}
.col {
    width: 100%;
    margin: 0 auto;    
}

.col + .col {
    margin-top: 2em;
}

h2 {
    margin-bottom: 1em;
}

.white-colour {
    color: white;
}

.accent {
    color: var(--colour-light);
    text-align: center;
}

.dark-bg {
    background-color: var(--colour-dark);
}

.brown-bg {
    background-color: var(--colour-medium);
}

@media (min-width: 60em) {
    .header {
        width: 40%;
    }
    
    .container {
        width: 50%;
    }
    
    .row {
        flex-direction: row;
    }

    .col + .col {
    margin-left: 2em;
    margin-top: 0;
    }

    .accent {
        text-align: left;
    }
}